
.main {
    padding: 2% 15%;
}

.categories {
    border-top: 5px solid #094e19;
    border-bottom: 5px solid #094e19;
    padding: 25px;
}

.categories a {
    text-decoration: none;
}

.caption {
    padding: 10px;
    font-family: 'Sensei', sans-serif;
    font-size: 15pt;
}

[class *="container"] {
    background-color: #f1f1f1;
}

#firstRowAfterCarousel {
    margin-top: 50px;
}

#carouselrow {
    margin-top: 25px
}

.footerRow {
    border: none;
    margin: 0
}

#footer {
    margin-top: 20px;
    background-color: #97d199;
    border-top: 5px solid #094e19;
}

.socialMediaIcons {
    color: #fff;
}
