
.main {
    padding: 0 4%;
}

#form .form-control {
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
}

#form .form-control:focus {
    border-color: var(--primary-color-colored);
    box-shadow: 0 0 0 0.25rem rgba(151, 209, 153, 0.25);
}

.header {
    text-align: center;
}

.right-margin {
    margin-right: 200px;
}

.category {
    margin-bottom: 2px;
}

.category-icon {
    color: #272727;
    position: relative;
    bottom: 1px;
    right: 1px;
}

.c-link {
    color: #272727;
    font-family: 'Source Serif pro', serif;
    font-size: 17pt;
    font-weight: 800;
    text-decoration: none;
}

.add {
    display: block;
    padding-left: 32px;
}

.add-link {
    font-size: 14pt;
    opacity: 0.8;
}


label {
    display: block;
    font-family: 'Source Serif pro', serif;
    font-size: 16pt;
}

.field {
    margin: 5px 50px;
    padding: 12px;
    text-align: center;
}

.product-input-field {
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding: 5px;
}

.account-input {
    display: block;
    margin: auto;
    min-width: 600px;
    height: 40px;
    margin-top: 5px;
    padding: 5px;
}

.small  {
    width: 35% !important;
}

.product-input-area {
        width: 100%;
        height: 100px;
}

.submit {
    font-size: 16pt;
    font-weight: 600;
    height: 50px;
}

.popup-form {
    display: none;
}

.form-container {
    min-width: 150px;
    max-width: 350px;
    padding: 5px 30px 15px;
}

.form-container .product-input-field {
    height: 30px;
}

.scroll {
    max-height: 600px;
    overflow-y: auto;
}

.category-label {
    margin-top: 5px;
    padding: 5px 0;
}

.category-button {
    height: 35px;
    font-size: 15pt;
    width: 30%;
}