
/* General Styles */

.header-text {
    font-family: 'Source Serif pro', serif;
    position: relative;
    top: 3px;
}

.fill-text {
    font-family: 'Alegreya', serif;
    color: #5e7991;
}

.dark-green {
    color: #1f5014;
}

.solid-border {
    border: 1px solid #1f5014;
}

.red-solid-border {
    border: 1px solid #dc3545;
}

.hr-border {
    border: none;
    border-top: 2px solid #1f5014;
    opacity: 100%;
}

.extra-spacing {
    letter-spacing: 0.1rem;
}

.bot-margin {
    margin-bottom: 3rem;
}

/* Inputs-Icons */

.input-icons {
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    color: gray;
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
}

.big-icon {
    padding: 16px;
}

.input-field {
    padding: 8px;
    text-align: center;
    width: 55%;
    height: 45px;
    margin: 0.8rem;
}


/* Sign up - Sign in */

.main-section {
    flex: 1;
    display: flex;
}

.main-container {
    flex: 1;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.container {
    background-color: #f6f6e9;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    min-height: 700px;
    margin-right: 0;
    margin-left: 0;
}

.big-container {
    min-width: 300px;
    max-width: 1100px;
}

.small-container {
    min-width: 200px;
    max-width: 400px;
    max-height: 700px;
    padding: 40px;
}

.admin .container {
    min-height: 630px;
}

.small-container .fill-text {
    margin: 4rem 0;
}

/* Buttons */

.button {
    border-radius: 25px;
    text-decoration: none;
}

.sign-btn {
    font-size: 15pt;
    padding: 6px 15px;
    align-self: center;
    width: 25%;
}

.sign-btn2 {
    background-color: #e3eaf0;
    font-size: 17pt;
    padding: 6px 40px;
}

.small-btn {
    display: none;
}

.admin-btn {
    font-size: 14pt;
    margin-top: 20px;
    width: 20%;
    height: 2.2rem;
}

.social {
    padding: 2rem;
}

.fit {
    min-height:fit-content;
}

.forgot-password {
    font-size: 10pt;
    padding: 12px;
    text-align: start;
    width: 55%;
    height: 20px;
    margin: 0.8rem;
}

.sign-btn:hover, .sign-btn2:hover, .admin-btn:hover, .forgot-password:hover {
    text-decoration: none;
    color: #1f5014;
}

.favorite-product {
    text-align: center;
    padding: 5%;
}

@media (max-width: 1100px) {
    body {
        background-color: red;
    }

    .social {
        padding: 2rem 1rem;
    }
}


@media (max-width: 700px) {

}