
/* General Styles */

.header-text {
    font-family: 'Source Serif pro', serif;
    position: relative;
    top: 3px;
}

.fill-text {
    font-family: 'Alegreya', serif;
    color: #5e7991;
}

.dark-green {
    color: #1f5014;
}

.solid-border {
    border: 1px solid #1f5014;
}

.hr-border {
    border: none;
    border-top: 2px solid #1f5014;
    opacity: 100%;
}

.extra-spacing {
    letter-spacing: 0.1rem;
}

/* Inputs-Icons */

.input-icons {
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    color: gray;
    position: absolute;
    margin-left: 12px;
    margin-top: 15px;
}

.input-field {
    padding: 12px;
    text-align: center;
    width: 55%;
    height: 40px;
    margin: 0.8rem;
}


/* Sign up - Sign in */

.container-fluid {
    margin-top: 30px;
}

.big-container {
    background-color: #f6f6e9;
    border-radius: 25px;
    min-width: 300px;
    min-height: 600px;
    max-width: 1100px;
}

.small-container {
    background-color: #f6f6e9;
    border-radius: 25px;
    min-width: 175px;
    min-height: 600px;
    max-width: 350px;
}


.small-container .fill-text {
    margin: 4rem 0;
}

.sign-btn {
    text-decoration: none;
    height: 2rem;
    width: 28%;
    margin-top: 1rem;
    border-radius: 25px;
}

.social {
    padding: 1.25rem;
}

.forgot-password {
    font-size: 0.6875rem;
    right: 5.8rem;
}

.sign-btn:hover, .forgot-password:hover {
    text-decoration: none;
    color: #1f5014;
}